# Dependencies
node_modules/

# Production builds
build/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db